body {
  background-color: #bcccff;
}

.header-inner {
  background-color: #d0e0ff;
}

.item-thumbnail {
  background-color: #c0d0ff;
}

#recent-post li .item-thumbnail .thumbnail {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #c0d0ff;
}
