body {
  background-color: #bcccff;
}

.header-inner {
  background-color: #d0e0ff;
}

.item-thumbnail {
  background-color: #c0d0ff;
}

.thumbnail-image {
  background-color: #c0d0ff;
}

.thumbnail-none {
  background-color: #c0d0ff;
}
